@import url(https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

div._1C6Zl {
  background-color: #121212;
 
  border-color: #BB86FC;
  
}

div._1C6Zl:


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header._2O84H {
  background-color: #121212;
  border-top-left-radius: 23px;
}

div._22PcK {
  background-color: #121212;
  border-top-right-radius: 32px;
   border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  color: #FFFFFF;
  border-color: #BB86FC;
  
}


div._3Aa1y._2MzqI._1oIRX {
  background-color: #BB86FC;
  border: none;
  border-color: #FF3939;
 
}

div._1rp8-._1f763.app-wrapper-web.font-fix.os-win {
  background-color: #2A2F32;
  
}

header._1UuMR {
  background-color: #171717;
  ;
   border-top-right-radius: 32px;
   box-shadow: 1px 2px 10px rgba(187, 134, 252, 0.521);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  }
.box {
  transition: box-shadow .3s;
  width: 300px;
  height: 500px;
  margin: 50px;
  border-radius:10px;
  border: 1px solid #ccc;

}

div.pcVTC {
  color: #FFFFFF;
  font-family: Inter;
}

span._3abDg {
  color: #FFFFFF;
}

span.t4_dB {
  color: #BB86FC;
}

span._1hI5g._1XH7x._1VzZY {
  color:  #DADADA;
 

  font-family: Inter;
  font-size: 14px;;
  
}




div span span {
  font-family: Inter;
  font-size: 11px;
}

div._2gsiG {
  color: #BB86FC;
  
}

div._2K2iM {
  
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

div.NSNJN._1NQ-K.m9la1.copyable-text {
   box-shadow: 10px 7px 30px rgba(187, 134, 252, 0.521)
}

div._1dB-m {
   box-shadow: 10px 7px 30px rgba(187, 134, 252, 0.521);
   background-color: rgb(61, 30, 99);
   border-radius: 8px;
}

label._2Evw0 {
   box-shadow: 0px -2px 9px rgba(187, 134, 252, 0.521);
  color: #C33535;
  display: none
}

span div span {
  color: #D8D5D5;
}

span._2lheY {
  color: #BB86FC;
}

button div span {
  color: #BB86FC;
}

span._3Id9P._1VzZY.selectable-text.copyable-text {
  display: ;
}

img._3t3gU.rlUm6._1VzZY {
  border: 3px solid #BB86FC;
  border-radius: 800px;
  border-image-width: 12px;
}

div.DuUXI {
  min-height: 35px;
  
}

div button span {
  color: #BB86FC;
  box-shadow: 10px 97px 30px rgba(187, 134, 252, 0.521);
}

div._1ij5F.KpuSa {
  
 background-color: #86fc
}

div._3SvgF._1mHgA.copyable-area {
  display: e;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
}

footer._2ig1U {
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
   border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
}

div.tSmQ1 {
  border-color: #5A1919;
}

div.vWC3x {
  border-top-right-radius: 32px;
  box-shadow: 10px 7px 30px rgba(187, 134, 252, 0.521);
}

span._3_BId {
  color: #BB86FC;
}

div._1RHZR {
  background-color: #212121;
  
}

div._3YGnG {
  background-color: #212121;
}

div._3Pwfx.wJ21F {
  background-color: #212121;
}

div._1OZ02 {
  color: #AD2424;
  background-color: #212121;
}

div._22mTQ {
  background-color: #121212;
}

div._26MUt {
  
  border: none;
}

div._2ruyW {
  box-shadow: 10px 7px 30px rgba(187, 134, 252, 0.521);
}

