.p1 {
  font-family: "Inter", sans-serif;
  font-size: 32px
}

.p2 {
  font-family: "Inter", sans-serif;
  font-size: 15px
    
  
}

.p2 {
  color: white;
}
.p1 {
  color: white;

}
.txt {
  font-family: "Inter", sans-serif;
}

.p2 {
  background: rgb(0,0,0);
background: linear-gradient(165deg, rgba(0,0,0,0.9660349813205802) 35%, rgba(49,49,49,1) 100%);
  border: white;
  border-radius: 55px
  color: white;
  padding: 15px 13px;
   border-radius: 15px
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.p2:hover {
  box-shadow: 0 12px 16px 0 rgb(21,64,208), 0 17px 50px 0 rgb(21,64,208);
}
body {
   background: rgb(23,74,216);

  
}
